/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */
.breadcrumb__path:not(:last-child)::after {
    content: "/";
    margin: 0 .5rem;
}

.close__icon {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    opacity: .8;
    cursor: pointer;
}

.close__icon:hover,
.close__icon:focus {
    opacity: 1;
}

.close__icon:hover {
    transform: scale(1.1);
}

a {
    @apply no-underline text-grey-darkest;

    &:hover {
        @apply text-black;
    }
}

// .header-bg {
//     background-image: linear-gradient(90deg,#cacaca, #b7b7b7);
// }

.megamenu {
    &__panel {
        top: 2.6rem;
        left: 0;
        transform: scaleY(0);
        transform-origin: top;
        @apply invisible opacity-0 absolute w-full z-30 bg-white pl-16 pr-12 py-4 flex flex-wrap;
        transition: transform .3s ease-in-out;
    }      

    &__subcategories {
        font-size: 0.6rem;
    }

    &__title {
        @apply text-white opacity-75;

        &--active {
            @apply opacity-100 font-bold;
        }
    }
    &__category:hover {
        .megamenu {
            &__panel {
                @apply visible opacity-100;
                transform: scaleY(1);
            }
            &__title {
                @apply text-white opacity-100;
            }
        }
        .b-rounded-bar {
            @apply block;
        }
    }
}
.megamenu__subcategories > div::before {
    content: "";
    width: 0;
    height: 15px;
    display: block;
    transition: all .3s;
}
.megamenu__subcategories > div:hover {
    &::before {
        content: "";
        @apply bg-orange-dark block;
        width: .3rem;
        height: 15px;
        margin-right: .3rem;
    }
}

.b-rounded-bar {
    @apply border-t-8 border-white w-full rounded hidden absolute;
    bottom: -.85rem;
}

.title--horizontal-bar {
    overflow: hidden;
    text-align: center;

    &::before, &::after {
        box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }
    &::before {
        right: 0.5em;
        margin-left: -50%;
    }
    &::after {
        left: 0.5em;
        margin-right: -50%;
    }
}

.profile{
    &__content {
        @apply absolute invisible w-1/6 opacity-0 z-50 bg-white p-3 rounded shadow-md;
        right: 30px;
        transition: all .3s;
    }

    &:hover &__content {
        visibility: visible;
        opacity: 1;
    }
}

.profile--is-active {
    @apply font-bold;
}

.basket{
    &__content {
        @apply absolute invisible opacity-0 z-50 bg-white p-6 rounded shadow-md pin-r w-20v;
        transition: all .2s ease-in-out;
    }
    
    &:hover &__content {
        visibility: visible;
        opacity: 1;
    }
}

.h-bar {
    @apply my-2 border-b border-grey-light;
}

.newsletter__input {
    margin-right: -2rem;
}


/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

.translateY {
    transition: all .3s ease-in-out;
    &:active {
      transform: scale(.95) translateY(4px);
    }
}

.translateX {
    transition: all .3s;
    &:hover {
      transform: translateX(4px);
    }
}

.mt2- {
    margin-top: -2rem;
}
/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */