/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

.footer__item {
    display: flex;
    align-items: center;
    &::before {
        content: "";
        width: 0;
        height: 15px;
        display: block;
        transition: all .3s;
    }
    &:hover::before {
        content: "";
        background-color: white;
        width: .3rem;
        height: 15px;
        margin-right: .3rem;
    }
}

.home__image {
    background: center url('../../home.jpg');
    background-size: cover;
    height: 20vw;

    div {
        background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7));
    }
}

.breadcrumb__path:not(:last-child)::after {
    content: "/";
    margin: 0 .5rem;
}

.close__icon {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    opacity: .8;
    cursor: pointer;
}

.close__icon:hover,
.close__icon:focus {
    opacity: 1;
}

.close__icon:hover {
    transform: scale(1.1);
}

a {
    @apply no-underline text-grey-darkest;

    &:hover {
        @apply text-black;
    }
}

.title--horizontal-bar {
    overflow: hidden;
    text-align: center;

    &::before, &::after {
        box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }
    &::before {
        right: 0.5em;
        margin-left: -50%;
    }
    &::after {
        left: 0.5em;
        margin-right: -50%;
    }
}

.profile__menu {
    a {
        &::after {
            content: '';
            display: block;
            height: 1px;
            width: 0;
            background-color: black;
            transition: all .3s;
        }
        &:hover::after {
            width: 100%;
        }
    }
}

.profile{
    &__links {
        @apply absolute invisible w-1/6 opacity-0 z-50 bg-white p-3 rounded shadow-md;
        right: 30px;
        transition: all .3s;
    }

    &:hover &__links {
        visibility: visible;
        opacity: 1;
    }
}

.profile--is-active {
    @apply font-bold;
}

.basket{
    &__content {
        @apply absolute invisible opacity-0 z-50 bg-white p-6 rounded shadow-md pin-r w-20v;
        transition: all .2s ease-in-out;
    }
    
    &:hover &__content {
        visibility: visible;
        opacity: 1;
    }
}

.newsletter__input {
    margin-right: -2rem;
}


/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

.h-bar {
    @apply my-2 border-b border-grey-light;
}

.translateY {
    transition: all .3s ease-in-out;
    &:active {
      transform: scale(.95) translateY(4px);
    }
}

.translateX {
    transition: all .3s;
    &:hover {
      transform: translateX(4px);
    }
}

.mt2- {
    margin-top: -2rem;
}
/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */